################################################################################
#
# CHECK COMMANDS
#
# These are some example service check commands.  They may or may not work on
# your system, as they must be modified for your plugins.  See the HTML
# documentation on the plugins for examples of how to configure command definitions.
#
# NOTE:  The following 'check_local_...' functions are designed to monitor
#        various metrics on the host that Nagios is running on (i.e. this one).
################################################################################

# 'check_pseudowire_link' command definition
define command{
        command_name    check_pseudowire_link
        command_line    $USER1$/check_cisco_pseudowire.pl $HOSTADDRESS$ $ARG1$ $ARG2$
        }

